body{
    margin: 0;
    padding: 0;
}

canvas{
    background-color: #2a9d8f;
}

.grid-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh 85vh 5vh;
}

h1{
    font-family: 'Bungee Inline', cursive;
}

p{
    font-family: 'Average Sans', sans-serif;
}

button{
    padding: 15px;
    border: 1px #e9c46a solid;
    background-color: #264653;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s all;
    color: #e9c46a;
}

button:hover{
    border-radius: 50px;
    box-shadow:
      inset 0 0 50px #fff,      /* inner white */
      inset 20px 0 80px #e9c46a,   /* inner left magenta short */
      inset -20px 0 80px #264653,  /* inner right cyan short */
      inset 20px 0 300px #e9c46a,  /* inner left magenta broad */
      inset -20px 0 300px #2a9d8f, /* inner right cyan broad */
      0 0 50px #fff,            /* outer white */
      -10px 0 80px #e9c46a,        /* outer left magenta */
      10px 0 80px #264653;  

    color: black;
}

.header{
    color: white;
    grid-column: 1/-1;
    text-align: center;
    text-transform: uppercase;
    background-color: #264653;
    font-family: 'Bungee Inline', cursive;
}

.game{
    padding: 2em;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #264653;
}

.controller{
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 200px;
    color: #e76f51;
    font-weight: bold;
}

footer{
    grid-column: 1/-1;
    background-color: #264653;;
    display: flex;
    justify-content: space-between;
    color: #e9c46a;
}

.playAgain{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    width: 200px;
}

/* RULES LAYER */

#rulesLayer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #264653;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: white;
}

#mouvement{
    grid-column: 1 / -1;
 
    background-color: #264653;
    border: 1px #2a9d8f solid;
    border-radius: 20px;
    margin: 20px;
}

.rule__title{
    text-align: center;
    text-transform: uppercase;
}

.rule__title + p{
    text-align: center;
}

.rules{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px #2a9d8f solid;
    border-radius: 20px;
    background-color: #264653;
}

.rule__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rule__illustration{
    width: 100px;
    height: 100px;
    background-color: azure;

    border: 1px #e9c46a solid;
    border-radius: 20px;
}

.rule__texte{
    text-align: center;
}

#fight{
    grid-column: 1 / 9;
    background-color: #264653;
    margin: 20px;
    border-radius: 20px;
    border: 1px #2a9d8f solid;

}

#play{
    border: 1px #2a9d8f solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 9 / -1;
    margin: auto;
    text-align: center;
    padding: 20px;
}
